{% extends 'nucleo/index.html' %}
    {% block content %}
    <section id="auto">
        <div class="container">
            <table id="tt" class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Titulo</th>
                  <th>Descripcion</th>
                  <th>Nivel</th>
                  <th>Fecha de Inicio</th>
                  <th>Fecha de Fin</th>
                  <th>Informe</th>
                </tr>
              </thead>
              <tbody>
                {% for item in project_list %}
                    <tr class="a">
                      <td>{{ item.id }}</td>
                      <td>{{ item.title }}</td>
                      <td>{{ item.description }}</td>
                      <td>{{ item.level }}</td>
                      <td>{{ item.startDate }}</td>
                      <td>{{ item.endDate }}</td>
                      <td>{{ item.endReport }}</td>
                    </tr>

                  {% endfor %}
                  </tbody>
                </table>
                <button class="btn btn-primary bot"><a class="bl" href="{% url 'listProjects' %}">Volver a proyectos</a></button>
        </div>
    </section>   
    {% endblock %}   