{% extends 'nucleo/index.html' %}
    {% block content %}
    <section id="hero">
        <div class="container">
          <h2 class="ss">Proyectos en los que has participado</h2>
          <p class="s">* Solo se muestran aquellos proyectos que ya han finalizado</p>
            <table id="tt" class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Titulo</th>
                  <th>Descripcion</th>
                  <th>Nivel</th>
                  <th>Fecha de Inicio</th>
                  <th>Fecha de Fin</th>
                  <th>Informe</th>
                </tr>
              </thead>
              <tbody>
                {% for participate in participates %}
                {% for project in projects %}
                {% if request.user.id == participate.idCliente.id and project.id == participate.idProject.id %}
                    <tr class="a">
                      <td>{{ project.id }}</td>
                      <td>{{ project.title }}</td>
                      <td>{{ project.description }}</td>
                      <td>{{ project.level }}</td>
                      <td>{{ project.startDate }}</td>
                      <td>{{ project.endDate }}</td>
                      <td>{{ project.endReport }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  {% endfor %}
                  </tbody>
                </table>
        </div>
    </section>   
    {% endblock %}   