{% extends 'nucleo/index.html' %}

    {% block content %}
    <section id="hero">
        <div class="container">
            <h2 class="ss">Clientes</h2>
            {% for participate in participates %}
            {% if request.user.id == participate.idCliente.id %}
              {% for project in projects %}
              {% if project.id == participate.idProject.id %}
            <table id="tt" class="table table-hover">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Titulo</th>
                  <th>Descripcion</th>
                  <th>Nivel</th>
                  <th>Fecha de Inicio</th>
                  <th>Fecha de Fin</th>
                  <th>Informe</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                    <tr class="a">
                      <td>{{ project.id }}</td>
                      <td>{{ project.title }}</td>
                      <td>{{ project.description }}</td>
                      <td>{{ project.level }}</td>
                      <td>{{ project.startDate }}</td>
                      <td>{{ project.endDate }}</td>
                      <td>{{ project.endReport }}</td>
                    </tr>
                  </tbody>
                </table>
                {% endif %}
                {% endfor %}
              {% endif %}
              {% endfor %}
        </div>
    </section>   
    {% endblock %}   