{% extends 'nucleo/index.html' %}

    {% block content %}
    <section id="hero">
        <div class="container">
            <h2 class="ss">{{object.title}}</h2>
                  <p>Nivel dificultad: {{ object.level }}</p>
                  <p>Fecha inicio: {{ object.startDate }}</p>
                  <p>Fecha finalización: {{ object.endDate }}</p>
                  <p >Categoria: {{ object.idCategory }}</p>
                  <p >Descripcion: {{ object.description }}</p>
                  <p >Informe final: {{ object.endReport }}</p>
                  <button class="btn btn-primary bot"><a class="bl" href="">Inscribirse</a></button>
        </div>
        
    </section>   
    {% endblock %}     