{% extends 'nucleo/index.html' %}

    {% block content %}
    <section id="hero">
        <div class="container">
            <h2 class="ss">Proyectos</h2>
            <table id="tt" class="table table-hover">
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Nivel</th>
                  <th>Fecha comienzo</th>
                  <th>Categoria</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for item in project_list %}
                <tr class="a">
                  <td>{{ item.title }}</td>
                  <td>{{ item.level }}</td>
                  <td>{{ item.startDate }}</td>
                  <td >{{ item.idCategory }}</td>
                  <td>
                    <button class="btn btn-primary bot"><a class="bl" href="{% url 'detailProjects' item.id %}">Ver</a></button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="row">
              <div class="col-5">
                {% if request.user.role_user == 'Empleado' %}
                <button class="btn btn-primary bot"><a  class="bl" href="{% url 'createProject' %}">Crear Proyecto</a></button>
              </div>
              <div class="col-7 frm">
                <a href="{% url 'listParticipate' %}">VER PROYECTOS EN LOS QUE HAS PARTICIPADO</a>
              </div>
              {% endif %}
              <div class="col-12">
                <a href="{% url 'listParticipate' %}">* VER PROYECTOS EN LOS QUE HAS PARTICIPADO</a>
              </div>
            </div>
        </div>
    </section>   
    {% endblock %}     